<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sennet.webaccesslog.WebAccessLogMapper">
		
	<insert id="insertWebAccessLog" >
			INSERT INTO cm_web_access_log(
			    uuid,
			    val_date,
				val_time,
				username,
				useraddr,
				requesturi,
				requestmethod)
			VALUES (
			    #{uuid},
			    #{valDate},
				#{valTime},
				#{userName},
				#{userAddr},
				#{requestUri},
				#{requestMethod})
     </insert>
</mapper>